@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: #723d46;
  font-family: 'montserrat', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 60px;
  background-color: #efd3d7;
}

.header {
  margin-top: 40px;
}